
.footer-div{
    display: flex;
    background-color: #006198;
    height: 100px;
    padding-top: 40px;
}
.footer-div-text{
    color: white;
    width: 700px;
    margin-left: 100px;
    font-family: Rubik;
}
.footer-div-contacts{
    margin-left: auto;
    margin-right: 120px;
}